<!-- Begin page content -->
<main role="main" class="flex-shrink-0 ">
  <!-- <div class="container">
    <h1 class="mt-5">dashboard works!</h1>
    <p class="lead">Pin a footer to the bottom of the viewport in desktop browsers with this custom HTML and CSS. A fixed navbar has been added with <code>padding-top: 60px;</code> on the <code>main &gt; .container</code>.</p>
    <p>Back to <a href="/docs/4.3/examples/sticky-footer/">the default sticky footer</a> minus the navbar.</p>
  </div> -->
  <div class="">
    <div class="hero" style="position:relative;">
      <div class="container">
        <form>
          <div class="form-row">
            <div class="custom-control custom-radio custom-control-inline">
              <input type="radio" id="customRadioInline1" name="customRadioInline1" class="custom-control-input">
              <label class="custom-control-label" for="customRadioInline1"> Round Trip</label>
            </div>
            <div class="custom-control custom-radio custom-control-inline">
              <input type="radio" id="customRadioInline2" name="customRadioInline1" class="custom-control-input">
              <label class="custom-control-label" for="customRadioInline2">One Way</label>
            </div>
          </div>

          <div class=" form-row ">
            <div class="form-row">
              <div class="form-col form-col-lg">
                <div class=" input-group input-group-full">
                  <div class="input-group-prepend">
                    <div class="input-group-text">From</div>
                  </div>
                  <select class="form-control ng-pristine ng-valid ng-touched" required="" tabindex="7">

                    <option value="0: Object">Argao</option>
                    <option value="1: Object">Bacolod</option>
                    <option value="2: Object">Balbagon</option>
                    <option value="3: Object">Batangas</option>
                    <option value="4: Object">Bato, Leyte</option>
                    <option value="5: Object">Bogo</option>
                    <option value="6: Object">Bulalacao</option>
                    <option value="7: Object">Cagayan de Oro</option>
                    <option value="8: Object">Calapan</option>
                    <option value="9: Object">Calbayog City</option>
                    <option value="10: Object">Caticlan</option>
                    <option value="11: Object">Cebu</option>
                    <option value="12: Object">Consuelo, Camotes</option>
                    <option value="13: Object">Dapdap</option>
                    <option value="14: Object">Dapitan</option>
                    <option value="15: Object">Dipolog</option>
                    <option value="16: Object">Dumaguete</option>
                    <option value="17: Object">Hagnaya</option>
                    <option value="18: Object">Iligan</option>
                    <option value="19: Object">Ilo-ilo</option>
                    <option value="20: Object">Jagna, Bohol</option>
                    <option value="21: Object">Larena, Siquijor</option>
                    <option value="22: Object">Liloan, Southern Leyte</option>
                    <option value="23: Object">Lipata, Surigao</option>
                    <option value="24: Object">Mactan</option>
                    <option value="25: Object">Matnog</option>
                    <option value="26: Object">Nasipit</option>
                    <option value="27: Object">Ormoc</option>
                    <option value="28: Object">Ouano, Mandaue</option>
                    <option value="29: Object">Ozamis</option>
                    <option value="30: Object">Palompon</option>
                    <option value="31: Object">Plaridel</option>
                    <option value="32: Object">Roxas</option>
                    <option value="33: Object">San Carlos, Negros</option>
                    <option value="34: Object">San Isidro, N.Samar</option>
                    <option value="35: Object">Santa Fe, Bantayan Island</option>
                    <option value="36: Object">Surigao</option>
                    <option value="37: Object">Tagbilaran City, Bohol</option>
                    <option value="38: Object">Toledo</option>
                    <option value="39: Object">Tubigon</option>
                  </select>
                </div>
              </div>
              <div class="form-col form-col-xs hidden-sm hidden-xs">
                <button class="btn btn-transparent" tabindex="8" type="button">
                  <i class="fas fa-exchange-alt"></i>
                </button>
              </div>
              <div class="form-col form-col-lg">
                <div class=" input-group input-group-full">
                  <div class="input-group-prepend">
                    <div class="input-group-text">To</div>
                  </div>
                  <select class="form-control ng-pristine ng-valid ng-touched" required="" tabindex="7">

                    <option value="0: Object">Argao</option>
                    <option value="1: Object">Bacolod</option>
                    <option value="2: Object">Balbagon</option>
                    <option value="3: Object">Batangas</option>
                    <option value="4: Object">Bato, Leyte</option>
                    <option value="5: Object">Bogo</option>
                    <option value="6: Object">Bulalacao</option>
                    <option value="7: Object">Cagayan de Oro</option>
                    <option value="8: Object">Calapan</option>
                    <option value="9: Object">Calbayog City</option>
                    <option value="10: Object">Caticlan</option>
                    <option value="11: Object">Cebu</option>
                    <option value="12: Object">Consuelo, Camotes</option>
                    <option value="13: Object">Dapdap</option>
                    <option value="14: Object">Dapitan</option>
                    <option value="15: Object">Dipolog</option>
                    <option value="16: Object">Dumaguete</option>
                    <option value="17: Object">Hagnaya</option>
                    <option value="18: Object">Iligan</option>
                    <option value="19: Object">Ilo-ilo</option>
                    <option value="20: Object">Jagna, Bohol</option>
                    <option value="21: Object">Larena, Siquijor</option>
                    <option value="22: Object">Liloan, Southern Leyte</option>
                    <option value="23: Object">Lipata, Surigao</option>
                    <option value="24: Object">Mactan</option>
                    <option value="25: Object">Matnog</option>
                    <option value="26: Object">Nasipit</option>
                    <option value="27: Object">Ormoc</option>
                    <option value="28: Object">Ouano, Mandaue</option>
                    <option value="29: Object">Ozamis</option>
                    <option value="30: Object">Palompon</option>
                    <option value="31: Object">Plaridel</option>
                    <option value="32: Object">Roxas</option>
                    <option value="33: Object">San Carlos, Negros</option>
                    <option value="34: Object">San Isidro, N.Samar</option>
                    <option value="35: Object">Santa Fe, Bantayan Island</option>
                    <option value="36: Object">Surigao</option>
                    <option value="37: Object">Tagbilaran City, Bohol</option>
                    <option value="38: Object">Toledo</option>
                    <option value="39: Object">Tubigon</option>
                  </select>
                </div>
              </div>
            </div>
          </div>



          <div class="form-row">
            <div class="col-lg-7 pd-x-0">
              <div class="form-row">
                <div class="form-col">
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text">Depart</span>
                    </div>
                    <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
                    <div class="input-group-append">
                      <span class="input-group-text"><i aria-hidden="true" class="fa fa-calendar fs-18"></i></span>
                    </div>
                  </div>
                </div>
                <div class="form-col">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                          <span class="input-group-text">Return</span>
                        </div>
                        <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
                        <div class="input-group-append">
                          <span class="input-group-text"><i aria-hidden="true" class="fa fa-calendar fs-18"></i></span>
                        </div>
                      </div>
                </div>
              </div>
            </div>
            <div class="col-lg-5 pd-x-0">
              <div class="form-row">
                <div class="form-col">
                  <div class="form-group input-group input-group-full">
                    <span class="input-group-prepend">  <span class="input-group-text">Passenger</span></span>
                    <input class="form-control passengers ng-pristine ng-valid ng-touched" data-toggle="tooltip"
                      max="20" maxlength="2" min="1" tabindex="12" type="number" id="passengers-nonmodal"
                      title="Input value between 1-20 only.">
                  </div>
                </div>
                <div class="form-col">
                  <button class="btn btn-primary btn-block" tabindex="13" type="button">Search
                    Trips</button>

                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
      <!-- <div class="search-bg"></div> -->
    </div>
  </div>
</main>